<div class="border-y-2 border-[#E8EAED] bg-white p-1.5 flex items-center justify-between w-full">
    <div class="flex items-center">
        <img src="../../../../assets/search.svg" class="w-4 h-4" alt="">
        <input type="text" class="bg-transparent focus:outline-none max-w-xs placeholder:text-[#C5C3F6] text-sm px-2"
        placeholder="Search">
        <button class="hover:bg-[#F0F1F3] px-1.5 py-1 rounded-sm">
            <img src="../../../../assets/voptions.svg" class="w-4 h-4" alt="">
        </button>
    </div>
    <div class="fles items-center
    ">
        <button  class="p-0.5 px-2 text-xs text-[#7c828d] bg-[#f2f2f2] rounded-md mx-0.5 ml-1 capitalize inline-flex items-center">
            <img src="../../../../assets/filter.svg" class="w-2 h-2 mr-1" alt="">
            {{0}}
        </button>
        <button  class="p-0.5 px-2 text-xs text-[#7c828d] bg-[#f2f2f2] rounded-md mx-0.5 ml-1 capitalize inline-flex items-center">
            <img src="../../../../assets/groupby.svg" class="w-3 h-3 mr-1" alt="">
            group by status
        </button>
        <button  class="p-0.5 px-2 text-xs text-[#7c828d] hover:bg-[#f2f2f2] rounded-md mx-0.5 ml-1 capitalize inline-flex items-center">
            <img src="../../../../assets/subtasks.svg" class="w-3 h-3 mr-1" alt="">
            subtasks
        </button>
        <button  class="p-0.5 px-2 text-xs text-[#7c828d] hover:bg-[#f2f2f2] rounded-md mx-0.5 ml-1 capitalize inline-flex items-center">
            <img src="../../../../assets/show.svg" class="w-3 h-3 mr-1" alt="">
            show
        </button>
        <button  class="p-0.5 px-2 text-xs text-[#7c828d] hover:bg-[#f2f2f2] rounded-md mx-0.5 ml-1 capitalize inline-flex items-center">
            <img src="../../../../assets/voptions.svg" class="w-3 h-3" alt="">
        </button>
    </div>
</div>