<div class=" bg-white min-w-[200px] text-black flex flex-col shadow-md rounded-md p-2">
    <button class="w-full inline-flex items-center px-3 py-1 hover:bg-secondary-color rounded-md whitespace-nowrap">
        <img class="w-4 h-4 mr-3" src="/assets/nocustomfield.svg" alt="">
        <span class="text-sm">Edit</span>
    </button>
    <button class="w-full inline-flex items-center px-3 py-1 hover:bg-secondary-color rounded-md whitespace-nowrap">
        <img class="w-4 h-4 mr-3" src="/assets/del.svg" alt="">
        <span class="text-sm">Delete</span>
    </button>
</div>