<header class="flex justify-between items-center w-full px-5 h-[48px] bg-white">
    <div class="h-full">
        <div class="h-full rounded-sm flex items-center ml-8">
            <span class="text-sm font-medium mr-3">Notifications</span>
            <mat-tab-group [(selectedIndex)]="selectedTabIndex">
                <mat-tab>
                  <ng-template mat-tab-label>
                    <span (click)="tabSelected.emit(0)" class="text-sm font-medium py-2 mx-3">New</span>
                  </ng-template>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <span (click)="tabSelected.emit(1)" class="text-sm font-medium py-2 mx-3">Cleared</span>
                  </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="flex items-center justify-between type__notifyTabs">
        <mat-tab-group [(selectedIndex)]="selectedTabIndex">
            <mat-tab>
              <ng-template mat-tab-label>
                <span (click)="tabSelected.emit(2)" class="text-xs hover:bg-[#F2F2F2] font-medium py-1 px-3 rounded-full mx-1">All</span>
              </ng-template>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span (click)="tabSelected.emit(3)" class="text-xs hover:bg-[#F2F2F2] font-medium py-1 px-3 rounded-full mx-1">Assigned to me</span>
              </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</header>