<section class="w-full px-10 py-5">
    <div class="flex items-center">
        <h1 class="text-2xl font-medium">My Work</h1>
    </div>
    <div class="w-full">
        <mat-tab-group>
            <mat-tab> 
                <ng-template mat-tab-label>
                    <span>To Do</span>
                </ng-template>
                Content 1 
            </mat-tab>
            <mat-tab label="Comments"> Content 2 </mat-tab>
            <mat-tab label="Done"> Content 3 </mat-tab>
            <mat-tab label="Delegated"> Content 4 </mat-tab>
        </mat-tab-group>
    </div>
</section>