<div class="w-[355px] h-auto max-h-[calc(100vh-100px)] rounded-md shadow-md bg-white">
    <div class="flex items-center justify-between p-5">
        <h1 class="text-sm font-medium capitalize">tasks linking</h1>
        <button>
            <img class="w-4 h-4" src="assets/close3.svg" alt="">
        </button>
    </div>
    <div>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="flex items-center">
                        
                    </span>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>