<div class="quick__task p-2">
    <div class="">
        <h1 class="capitalize text-[11px]">Project 1</h1>
    </div>
    <div class="flex items-center justify-between mt-1">
        <button>
            <img class="w-3 h-3 trans__icon" src="assets/close3.svg" alt="">
        </button>
        <div class="flex flex-1">
            <input [(ngModel)]="taskName" type="text" placeholder="Task name" class="text-xs w-full focus:outline-none px-1.5 placeholder:italic" autofocus>
        </div>
        <div>
            <button class="rounded-full border border-dashed border-[#c1c1c1] hover:border-primary-hover text-[10px] w-[23px] h-[23px] inline-flex justify-center items-center">
                <img class="w-3 h-3 trans__icon" src="assets/assignee.svg" alt="">
            </button>
        </div>
    </div>
    <div class="w-full inline-flex items-center justify-between bg-white mt-7">
        <div class="inline-flex items-center">
            <button matTooltip="Set priority" matTooltipClass="custom__tooltip" class="mr-3.5">
                <img class="w-4 h-4 trans__icon" src="assets/priority.svg" alt="">
            </button>
            <button matTooltip="Start date" matTooltipClass="custom__tooltip" class="mr-3.5">
                <img class="w-4 h-4 trans__icon" src="assets/duedate.svg" alt="">
            </button>
            <button class="mr-3" matTooltip="Due date" matTooltipClass="custom__tooltip">
                <img class="w-4 h-4 trans__icon" src="assets/duedate.svg" alt="">
            </button>
        </div>
        <div class="inline-flex items-center">
            <button (click)="addTask()" class="px-1.5 p-0.5 rounded-sm bg-primary hover:bg-primary-hover text-white text-xs">Save</button>
        </div>
    </div>
</div>