<div *ngFor="let project of listOfSubFolders" class="border-2 border-[#F0F1F3] p-3 mx-4 my-3 relative">
    <div class="flex justify-between items-start">
        <div class="flex flex-1 flex-col">
            <p class="text-[11px] text-[#34313a] ml-2 capitalize">Projects</p>
            <div class="flex items-center project__ep w-full">
                <mat-expansion-panel class="!shadow-none w-full project__spaceExp" expanded="true">
                    <mat-expansion-panel-header class="!p-0">
                        <mat-panel-title class="group">
                            <div class="flex items-center">
                                <div class="flex">
                                    <div class="flex items-center py-0.5 px-2 hover:bg-[#f2f2f2] rounded-sm">
                                        <img class="w-5 h-5 rotate__icon" src="../../../../assets/rightangle.svg"
                                            alt="">
                                        <span class="text-base  font-medium text-[#2A2E34] capitalize ml-2">{{
                                            project.name }}</span>
                                    </div>
                                </div>
                                <div>
                                    <button (click)="showAddNewTaskToolbar(1); $event.stopPropagation()"
                                        class="py-0.5 px-2 text-[10px] text-[#7c828d] hover:bg-[#f2f2f2] rounded-md mx-0.5 ml-1 uppercase">
                                        + new task
                                    </button>
                                </div>
                            </div>
                            <div class="group-[:hover]:flex hidden">
                                <button
                                    class="py-0.5 px-2 text-[10px] text-[#7c828d] hover:bg-[#f2f2f2] rounded-md mx-0.5 ml-1 uppercase">
                                    add description
                                </button>
                                <button
                                    class="py-0.5 px-2 text-[10px] text-[#7c828d] hover:bg-[#f2f2f2] rounded-md mx-0.5 ml-1 uppercase">
                                    add comment
                                </button>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="w-full p-2 bg-white">
                        <!-- completed -->
                        <mat-expansion-panel *ngFor="let list of listOfTasks; let i = index"
                            class="!shadow-none w-full project__spaceExp !mb-3" expanded="true">
                            <mat-expansion-panel-header class="!p-0">
                                <mat-panel-title>
                                    <div class="group flex items-center py-0.5 px-2 rounded-sm">
                                        <img class="w-4 h-4 rotate__icon" src="../../../../assets/rightangle.svg"
                                            alt="">
                                        <span [ngClass]="{
                                            'bg-[#6BC950]': list.status === 'Completed',
                                            'bg-[#1090E0]': list.status === 'In Progress',
                                            'bg-[#E8EAED]': list.status === 'To do'
                                            }"
                                            class="text-xs font-medium p-0.5 px-2 text-white rounded-sm ml-2 uppercase">{{
                                            list.status }}</span>
                                        <img class="group-[:hover]:flex hidden w-4 h-4 ml-1"
                                            src="../../../../assets/voptions.svg" alt="">
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="w-full mt-3">
                                <table class="w-full">
                                    <thead>
                                        <tr class="uppercase text-[10px] font-light text-center">
                                            <th class="max-w-[50px] w-[50px]"></th>
                                            <th class="max-w-[78px] w-[78px]"></th>
                                            <th class="w-[25%] text-left">
                                                <span class="hover:bg-[#F0F1F3] px-3 py-1.5">{{list.tasks.length}}
                                                    tasks</span>
                                            </th>
                                            <th>assignee</th>
                                            <th>due date</th>
                                            <th>priority</th>
                                            <th class="w-[90px]">status</th>
                                            <th>
                                                <button class="hover:bg-[#F0F1F3] p-1">
                                                    <img class="w-4 h-4 header__icon" src="assets/tableoption.svg"
                                                        alt="">
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="relative">
                                        <ng-container *ngFor="let task of list.tasks; let i = index">
                                            <tr [class.selected-row]="selectedRows.includes(task.id)" class="group">
                                                <td [class.right__border]="selectedRows.includes(task.id)"
                                                    class="group-[:hover]:bg-white border border-white !px-0 max-w-[50px] w-[50px]">
                                                    <button [class.visible]="selectedRows.includes(task.id)"
                                                        (click)="toggleRowSelection(task.id)"
                                                        class="transition-all duration-[-1s] ease invisible group-[:hover]:visible inline-flex items-center">
                                                        <svg *ngIf="selectedRows.includes(task.id) === false"
                                                            class="w-5 h-5" viewBox="0 0 24 24" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <g stroke-width="0"></g>
                                                            <g stroke-linecap="round" stroke-linejoin="round"></g>
                                                            <g>
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M12 19.5C16.1421 19.5 19.5 16.1421 19.5 12C19.5 7.85786 16.1421 4.5 12 4.5C7.85786 4.5 4.5 7.85786 4.5 12C4.5 16.1421 7.85786 19.5 12 19.5ZM12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
                                                                    fill="#292d34"></path>
                                                                <circle cx="12" cy="12" r="5.25" fill="none"></circle>
                                                            </g>
                                                        </svg>
                                                        <svg *ngIf="selectedRows.includes(task.id) === true"
                                                            class="w-5 h-5" viewBox="0 0 24 24" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <g stroke-width="0"></g>
                                                            <g stroke-linecap="round" stroke-linejoin="round"></g>
                                                            <g>
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M12 19.5C16.1421 19.5 19.5 16.1421 19.5 12C19.5 7.85786 16.1421 4.5 12 4.5C7.85786 4.5 4.5 7.85786 4.5 12C4.5 16.1421 7.85786 19.5 12 19.5ZM12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
                                                                    fill="#3176b1"></path>
                                                                <circle cx="12" cy="12" r="5.25" fill="#3176b1">
                                                                </circle>
                                                            </g>
                                                        </svg>
                                                    </button>
                                                    <button
                                                        class="transition-all duration-[-1s] ease invisible group-[:hover]:visible cursor-move">
                                                        <img class="w-5 h-6 icon" src="assets/tabledrag.svg" alt="">
                                                    </button>
                                                </td>
                                                <td class="max-w-[78px] w-[78px]">
                                                    <div class="inline-flex items-center">
                                                        <button *ngIf="task.subtasks.length > 0"
                                                            (click)="toggleSubTasksRow(i)" [ngClass]="{'subtask__collapse': isSubTaskRow[i] === true }"
                                                            class="inline-flex items-center">
                                                            <img class="w-4 h-4 header__icon"
                                                                src="assets/caretsolid.svg" alt="">
                                                        </button>
                                                        <button [ngClass]="{
                                                            'bg-[#6BC950]': list.status === 'Completed',
                                                            'bg-[#1090E0]': list.status === 'In Progress',
                                                            'bg-[#E8EAED]': list.status === 'To do'
                                                            }" class="w-2 h-2 rounded-sm ml-3"></button>
                                                    </div>
                                                </td>
                                                <td (click)="openDialog()" class="text-left !px-5">
                                                    {{ task.title }}
                                                    <span class="hidden group-[:hover]:inline-flex">
                                                        <button *ngIf="task.subtasks.length > 0"
                                                            class="mx-1 p-1 bg-[#F0F1F3] group-[:hover]:bg-white text-primary-hover rounded-sm inline-flex justify-center items-center">
                                                            <img class="w-3.5 h-3.5 icon" src="assets/subtask.svg"
                                                                alt="">
                                                            <span class="text-xs ml-1">{{task.subtasks.length}}</span>
                                                        </button>
                                                        <button matTooltipPosition="above" matTooltip="Rename"
                                                            matTooltipClass="custom__tooltip"
                                                            class="mx-1 p-1 bg-[#F0F1F3] group-[:hover]:bg-white text-primary-hover rounded-sm inline-flex justify-center items-center">
                                                            <img class="w-3.5 h-3.5 icon" src="assets/nocustomfield.svg"
                                                                alt="">
                                                        </button>
                                                    </span>
                                                </td>
                                                <td>
                                                    <button
                                                        class="border border-dashed border-[#c1c1c1] hover:border-primary inline-flex justify-center items-center rounded-full p-1.5 text-[10px]">
                                                        <img class="w-4 h-4 icon" src="assets/assignee.svg" alt="">
                                                    </button>
                                                </td>
                                                <td>
                                                    <button [id]="'overlay'+ i" (click)="toggleCalendarPicker(i)" class="font-medium text-[#F18A8B]" *ngIf="selectedDate[i]; else calendarpicker" >
                                                        {{selectedDate[i]}}
                                                    </button>
                                                    <!-- <ng-template #calendarpicker>
                                                        <button (click)="toggleCalendarPicker(trigger)" cdkOverlayOrigin
                                                            #trigger="cdkOverlayOrigin" class="p-1">
                                                            <img class="w-5 h-5 icon" src="assets/duedate.svg" alt="">
                                                        </button>
                                                    </ng-template> -->
                                                    <ng-template #calendarpicker>
                                                        <button [id]="'overlay'+ i" (click)="toggleCalendarPicker(i)"
                                                            class="p-1">
                                                            <img class="w-5 h-5 icon" src="assets/duedate.svg" alt="">
                                                        </button>
                                                    </ng-template>
                                                    <!-- <ng-template cdkConnectedOverlay
                                                        (backdropClick)="closeCalendarPicker()"
                                                        [cdkConnectedOverlayHasBackdrop]="true"
                                                        [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
                                                        [cdkConnectedOverlayOrigin]="triggerOrigin"
                                                        [cdkConnectedOverlayOpen]="isDropdownOpen === true"
                                                        class="relative">
                                                        <st-calendar-picker (selectedDateChange)="selectedDateChange($event)"></st-calendar-picker>
                                                    </ng-template> -->
                                                </td>
                                                <td>
                                                    <button class="p-1">
                                                        <img class="w-5 h-5 icon" src="assets/priority.svg" alt="">
                                                    </button>
                                                </td>
                                                <td [ngClass]="{
                                                'bg-[#6BC950]': list.status === 'Completed',
                                                'bg-[#1090E0]': list.status === 'In Progress',
                                                'bg-[#E8EAED] text-black': list.status === 'To do'
                                                }" class="text-white">{{list.status}}</td>
                                                <td>
                                                    <button
                                                        class="transition-all duration-[-1s] ease invisible group-[:hover]:visible mx-auto">
                                                        <img class="w-4 h-4 icon" src="../../../../assets/voptions.svg"
                                                            alt="">
                                                    </button>
                                                </td>
                                            </tr>
                                            <ng-container *ngIf="isSubTaskRow[i] === true && task.subtasks.length > 0">
                                                <tr *ngFor="let subtask of task.subtasks"
                                                    [class.selected-row]="selectedRows.includes(subtask.id)"
                                                    class="group">
                                                    <td [class.right__border]="selectedRows.includes(subtask.id)"
                                                        class="group-[:hover]:bg-white border border-white !px-0 max-w-[50px] w-[50px]">
                                                        <button [class.visible]="selectedRows.includes(subtask.id)"
                                                            (click)="toggleRowSelection(subtask.id)"
                                                            class="transition-all duration-[-1s] ease invisible group-[:hover]:visible inline-flex items-center">
                                                            <svg *ngIf="selectedRows.includes(subtask.id) === false"
                                                                class="w-5 h-5" viewBox="0 0 24 24" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke-width="0"></g>
                                                                <g stroke-linecap="round" stroke-linejoin="round"></g>
                                                                <g>
                                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                                        d="M12 19.5C16.1421 19.5 19.5 16.1421 19.5 12C19.5 7.85786 16.1421 4.5 12 4.5C7.85786 4.5 4.5 7.85786 4.5 12C4.5 16.1421 7.85786 19.5 12 19.5ZM12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
                                                                        fill="#292d34"></path>
                                                                    <circle cx="12" cy="12" r="5.25" fill="none">
                                                                    </circle>
                                                                </g>
                                                            </svg>
                                                            <svg *ngIf="selectedRows.includes(subtask.id) === true"
                                                                class="w-5 h-5" viewBox="0 0 24 24" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke-width="0"></g>
                                                                <g stroke-linecap="round" stroke-linejoin="round"></g>
                                                                <g>
                                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                                        d="M12 19.5C16.1421 19.5 19.5 16.1421 19.5 12C19.5 7.85786 16.1421 4.5 12 4.5C7.85786 4.5 4.5 7.85786 4.5 12C4.5 16.1421 7.85786 19.5 12 19.5ZM12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
                                                                        fill="#3176b1"></path>
                                                                    <circle cx="12" cy="12" r="5.25" fill="#3176b1">
                                                                    </circle>
                                                                </g>
                                                            </svg>
                                                        </button>
                                                        <button
                                                            class="transition-all duration-[-1s] ease invisible group-[:hover]:visible cursor-move">
                                                            <img class="w-5 h-6 icon" src="assets/tabledrag.svg" alt="">
                                                        </button>
                                                    </td>
                                                    <td class="max-w-[78px] w-[78px] !pl-20">
                                                        <button [ngClass]="{
                                                            'bg-[#6BC950]': list.status === 'Completed',
                                                            'bg-[#1090E0]': list.status === 'In Progress',
                                                            'bg-[#E8EAED]': list.status === 'To do'
                                                            }" class="w-2 h-2 rounded-sm"></button>
                                                    </td>
                                                    <td (click)="openDialog()" class="text-left !px-5">
                                                        {{ subtask.title }}
                                                        <span class="hidden group-[:hover]:inline-flex">
                                                            <button matTooltipPosition="above" matTooltip="Rename"
                                                                matTooltipClass="custom__tooltip"
                                                                class="mx-1 p-1 bg-[#F0F1F3] group-[:hover]:bg-white text-primary-hover rounded-sm inline-flex justify-center items-center">
                                                                <img class="w-3.5 h-3.5 icon"
                                                                    src="assets/nocustomfield.svg" alt="">
                                                            </button>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <button
                                                            class="border border-dashed border-[#c1c1c1] hover:border-primary inline-flex justify-center items-center rounded-full p-1.5 text-[10px]">
                                                            <img class="w-4 h-4 icon" src="assets/assignee.svg" alt="">
                                                        </button>
                                                    </td>
                                                    <td class="relative">
                                                        <button (click)="toggleCalendarPicker(i)" cdkOverlayOrigin
                                                            #triggerOrigin="cdkOverlayOrigin" class="p-1">
                                                            <img class="w-5 h-5 icon" src="assets/duedate.svg" alt="">
                                                        </button>
                                                        <!-- <ng-template cdkConnectedOverlay cdkConnectedOverlay
                                                            (backdropClick)="closeCalendarPicker()"
                                                            [cdkConnectedOverlayHasBackdrop]="true"
                                                            [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
                                                            [cdkConnectedOverlayOrigin]="triggerOrigin"
                                                            [cdkConnectedOverlayOpen]="isDropdownOpenList[i]"
                                                            class="relative">
                                                            <st-calendar-picker></st-calendar-picker>
                                                        </ng-template> -->
                                                    </td>
                                                    <td>
                                                        <button class="p-1">
                                                            <img class="w-5 h-5 icon" src="assets/priority.svg" alt="">
                                                        </button>
                                                    </td>
                                                    <td [ngClass]="{
                                                    'bg-[#6BC950]': list.status === 'Completed',
                                                    'bg-[#1090E0]': list.status === 'In Progress',
                                                    'bg-[#E8EAED] text-black': list.status === 'To do'
                                                    }" class="text-white">{{list.status}}</td>
                                                    <td>
                                                        <button
                                                            class="transition-all duration-[-1s] ease invisible group-[:hover]:visible mx-auto">
                                                            <img class="w-4 h-4 icon"
                                                                src="../../../../assets/voptions.svg" alt="">
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>
                                        <!-- temporary saved tasks -->
                                        <tr *ngFor="let task of savedTaskList; let i = index"
                                            [class.selected-row]="selectedRows.includes(i)" class="group">
                                            <td [class.right__border]="selectedRows.includes(i)"
                                                class="group-[:hover]:bg-white border border-white !px-0 max-w-[50px] w-[50px]">
                                                <button [class.visible]="selectedRows.includes(i)"
                                                    (click)="toggleRowSelection(i)"
                                                    class="transition-all duration-[-1s] ease invisible group-[:hover]:visible inline-flex items-center">
                                                    <svg *ngIf="selectedRows.includes(i) === false" class="w-5 h-5"
                                                        viewBox="0 0 24 24" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g stroke-width="0"></g>
                                                        <g stroke-linecap="round" stroke-linejoin="round"></g>
                                                        <g>
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M12 19.5C16.1421 19.5 19.5 16.1421 19.5 12C19.5 7.85786 16.1421 4.5 12 4.5C7.85786 4.5 4.5 7.85786 4.5 12C4.5 16.1421 7.85786 19.5 12 19.5ZM12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
                                                                fill="#292d34"></path>
                                                            <circle cx="12" cy="12" r="5.25" fill="none"></circle>
                                                        </g>
                                                    </svg>
                                                    <svg *ngIf="selectedRows.includes(i) === true" class="w-5 h-5"
                                                        viewBox="0 0 24 24" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g stroke-width="0"></g>
                                                        <g stroke-linecap="round" stroke-linejoin="round"></g>
                                                        <g>
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M12 19.5C16.1421 19.5 19.5 16.1421 19.5 12C19.5 7.85786 16.1421 4.5 12 4.5C7.85786 4.5 4.5 7.85786 4.5 12C4.5 16.1421 7.85786 19.5 12 19.5ZM12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
                                                                fill="#3176b1"></path>
                                                            <circle cx="12" cy="12" r="5.25" fill="#3176b1"></circle>
                                                        </g>
                                                    </svg>
                                                </button>
                                                <button
                                                    class="transition-all duration-[-1s] ease invisible group-[:hover]:visible cursor-move">
                                                    <img class="w-5 h-6 icon" src="assets/tabledrag.svg" alt="">
                                                </button>
                                            </td>
                                            <td class="max-w-[78px] w-[78px]">
                                                <button [ngClass]="{
                                                        'bg-[#6BC950]': list.status === 'Completed',
                                                        'bg-[#1090E0]': list.status === 'In Progress',
                                                        'bg-[#E8EAED]': list.status === 'To do'
                                                        }" class="w-2 h-2 rounded-sm ml-3"></button>
                                            </td>
                                            <td class="text-left !px-5">
                                                <mat-expansion-panel class="!shadow-none w-fit !h-full">
                                                    <mat-expansion-panel-header class="!p-0">
                                                        <mat-panel-title>
                                                            {{ task }}
                                                            <span class="hidden group-[:hover]:inline-flex">
                                                                <button *ngIf="task.subtasks.length > 0"
                                                                    class="mx-1 p-1 bg-[#F0F1F3] group-[:hover]:bg-white text-primary-hover rounded-sm inline-flex justify-center items-center">
                                                                    <img class="w-3.5 h-3.5 icon" src="assets/subtask.svg"
                                                                        alt="">
                                                                    <span class="text-xs ml-1">{{task.subtasks.length}}</span>
                                                                </button>
                                                                <button matTooltipPosition="above" matTooltip="Rename"
                                                                    matTooltipClass="custom__tooltip"
                                                                    class="mx-1 p-1 bg-[#F0F1F3] group-[:hover]:bg-white text-primary-hover rounded-sm inline-flex justify-center items-center">
                                                                    <img class="w-3.5 h-3.5 icon" src="assets/nocustomfield.svg"
                                                                        alt="">
                                                                </button>
                                                            </span>
                                                        </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <div class="w-full absolute -bottom-2">red</div>
                                                </mat-expansion-panel>
                                            </td>
                                            <td>
                                                <button
                                                    class="border border-dashed border-[#c1c1c1] hover:border-primary inline-flex justify-center items-center rounded-full p-1.5 text-[10px]">
                                                    <img class="w-4 h-4 icon" src="assets/assignee.svg" alt="">
                                                </button>
                                            </td>
                                            <td>
                                                <button (click)="toggleCalendarPicker(i)" cdkOverlayOrigin
                                                    #triggerOrigin="cdkOverlayOrigin" class="p-1">
                                                    <img class="w-5 h-5 icon" src="assets/duedate.svg" alt="">
                                                </button>
                                            </td>
                                            <td>
                                                <button class="p-1">
                                                    <img class="w-5 h-5 icon" src="assets/priority.svg" alt="">
                                                </button>
                                            </td>
                                            <td [ngClass]="{
                                                'bg-[#6BC950]': list.status === 'Completed',
                                                'bg-[#1090E0]': list.status === 'In Progress',
                                                'bg-[#E8EAED] text-black': list.status === 'To do'
                                                }" class="text-white">{{list.status}}</td>
                                            <td>
                                                <button
                                                    class="transition-all duration-[-1s] ease invisible group-[:hover]:visible mx-auto">
                                                    <img class="w-4 h-4 icon" src="../../../../assets/voptions.svg" alt="">
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- cdk drop list -->
                                <!-- <div cdkDropListGroup>
                                    <div cdkDropList [cdkDropListData]="list.tasks" class=""
                                        (cdkDropListDropped)="drop($event)">
                                        <div [class.selected-row]="selectedRows.includes(task.id)" class="group flex w-full table__row" *ngFor="let task of list.tasks;" cdkDrag>
                                            
                                            
                                        </div>
                                    </div>
                                </div> -->
                                <!-- Add new task row toolbar -->
                                <div *ngIf="taskRowVisibility[i]"
                                    class="h-[37px] selected-row flex items-center ml-[50px]">
                                    <!-- new task add row toolbar -->
                                    <div class="w-[78px] h-full flex items-center justify-center">
                                        <button class="w-2 h-2 bg-[#6BC950] rounded-sm"></button>
                                    </div>
                                    <div class="w-[60%] text-left">
                                        <input (keypress)="addNewTaskOnEnter($event)" [(ngModel)]="newTaskName"
                                            type="text" class="w-full focus:outline-none px-2 text-xs"
                                            placeholder="Task name" autofocus>
                                    </div>
                                    <div class="flex-1 h-full inline-flex items-center justify-center px-2">
                                        <button
                                                    class="border border-dashed border-[#c1c1c1] hover:border-primary inline-flex justify-center items-center rounded-full p-1.5 text-[10px]">
                                                    <img class="w-4 h-4 icon" src="assets/assignee.svg" alt="">
                                                </button>
                                        <button
                                            class="w-6 h-6 bg-transparent border border-[#b9bec7] inline-flex justify-center items-center rounded-full p-1 text-[#b9bec7] mx-1.5">
                                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                stroke="#b9bec7">
                                                <g stroke-width="0"></g>
                                                <g stroke-linecap="round" stroke-linejoin="round"></g>
                                                <g id="SVGRepo_iconCarrier">
                                                    <path
                                                        d="M3 9H21M9 15L11 17L15 13M7 3V5M17 3V5M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round"></path>
                                                </g>
                                            </svg>
                                        </button>
                                        <button
                                            class="w-6 h-6 bg-transparent border border-[#b9bec7] inline-flex justify-center items-center rounded-full p-1 text-[#b9bec7] mx-1.5">
                                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                stroke="#b9bec7">
                                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                <g stroke-linecap="round" stroke-linejoin="round"></g>
                                                <g id="SVGRepo_iconCarrier">
                                                    <path
                                                        d="M5 21V3.90002C5 3.90002 5.875 3 8.5 3C11.125 3 12.875 4.8 15.5 4.8C18.125 4.8 19 3.9 19 3.9V14.7C19 14.7 18.125 15.6 15.5 15.6C12.875 15.6 11.125 13.8 8.5 13.8C5.875 13.8 5 14.7 5 14.7"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round"></path>
                                                </g>
                                            </svg>
                                        </button>
                                        <button type="submit" (click)="addNewTask()"
                                            (keypress)="$event.keyCode === 13 ? addNewTask() : hideAddNewTaskToolbar(i)"
                                            (click)="hideAddNewTaskToolbar(i)"
                                            class="bg-primary text-white rounded-sm text-xs px-2.5 py-1 uppercase mx-1.5">Save</button>
                                        <button (click)="hideAddNewTaskToolbar(i)" class="w-6 h-6 text-[#b9bec7]">
                                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke-width="0"></g>
                                                <g stroke-linecap="round" stroke-linejoin="round"></g>
                                                <g>
                                                    <circle cx="12" cy="12" r="10" stroke="currentColor"
                                                        stroke-width="1.5"></circle>
                                                    <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5"
                                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round">
                                                    </path>
                                                </g>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="!taskRowVisibility[i]" class="w-full ml-[73px]">
                                    <button (click)="showAddNewTaskToolbar(i)"
                                        class="py-0.5 px-2 text-[10px] text-[#7c828d] hover:bg-[#f2f2f2] rounded-md mx-0.5 ml-1">
                                        + New task
                                    </button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </div>
                </mat-expansion-panel>
            </div>
        </div>
        <button (click)="closedTaskFiltration()"
            class="absolute top-3 right-3 p-0.5 px-2 text-xs text-[#7c828d] hover:bg-[#f2f2f2] rounded-md mx-0.5 ml-1 uppercase inline-flex items-center">
            <img src="../../../../assets/show.svg" class="w-3 h-3 mr-1" alt="">
            {{ closedTaskFilterButton }}
        </button>
    </div>
</div>