table thead tr th {
    @apply hover:bg-[#F0F1F3];
    @apply py-0;
    @apply px-2;
}
table thead tr th:hover {
    @apply border-x-2;
    @apply border-[#BCC0C7];
}
/* table thead tr th:nth-child(2), table tbody tr td:nth-child(2) {
    @apply text-left;
} */
table thead tr th:nth-child(1){
    @apply hover:bg-transparent;
    @apply border-none;
}
table tbody tr {
    @apply text-center;
    @apply hover:bg-[#F0F1F3];
    @apply text-xs
}
table tbody tr td {
    @apply py-1;
    @apply px-2;
}
.selected-row {
    border: 1px solid black;
}
.visible {
    visibility: visible;
}
.right__border {
    border-right: 1px solid black !important;
}