@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* Default Styles for Angular-Calendar Module */
/* @import "../node_modules/angular-calendar/css/angular-calendar.css"; */

/* Default Styles for NgSelect Module */
@import "~@ng-select/ng-select/themes/default.theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #4eb2d4;
    --hover-color: #3176b1;
    --secondary-color: #F0F1F3;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
a, button {
    transition: all .5s ease;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::-webkit-scrollbar {
    background: white;
    width: 6px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #ADB3BD;
    @apply rounded-full
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
  }
/* mat expansion panel styles */
div.mat-expansion-panel-body {
    @apply p-0 !important;
}
.mat-content.mat-content-hide-toggle {
    @apply mr-0 !important;
}
.mat-expansion-indicator::after {
    color: #989DA6 !important;
}
.task__ep .mat-expansion-indicator::after {
    border-color: #000 !important;
}
.mat-expansion-panel-header {
    height: fit-content !important;
}
.project__ep .mat-expansion-indicator {
    display: none !important;
}
.sidebar__exp .mat-expansion-panel:hover {
    background-color: #F6F7F9;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background-color: transparent !important;
}
.mat-expansion-panel-header.mat-expanded .rotate__icon {
    transform: rotate(90deg);
}
.mat-expansion-panel:hover {
    background-color: transparent;
} 
/* mat tabs styles */
.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
    flex-grow: 0 !important;
}
.mdc-tab {
    min-width: fit-content !important;
    padding: 0 !important;
}  
.mdc-tab-indicator {
    color: #E9EBF0 !important; 
}
.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--hover-color) !important;
    border-bottom: 3px solid var(--hover-color) !important;
}
.mat-mdc-tab-header {
    --mdc-tab-indicator-active-indicator-height: 0px !important;
    --mdc-secondary-navigation-tab-container-height: fit-content !important;
}
/* Notification header mat tab styles for Notifications page */
.type__notifyTabs .mdc-tab-indicator {
    display: none;
}
.type__notifyTabs .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    @apply !border-none;
    @apply !text-white;
}
.type__notifyTabs .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label span {
    @apply !bg-[#7F77F1];
}
/* Docs listing page header mat tab styles  */
.docs-listing__tab .mdc-tab-indicator {
    display: none;
}
.docs-listing__tab .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    @apply !border-none;
}
.mat-mdc-tab .mat-ripple {
    display: none !important;
}
.docs-listing__tab .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label span {
    @apply !bg-[#E8EAED];
}

/* tool tip */
.custom__tooltip > div {
    background: #000 !important;
    font-size: 11px !important;
    text-align: center !important;
    @apply rounded-md;
}
/* custom modal  */
.custom__modal .mdc-dialog__surface  {
    @apply !rounded-lg;
}
/* ng select styles for schedule meeting modal */
.schedule__meeting.ng-select .ng-select-container {
    border: none !important;
    min-height: 0px !important;
    @apply focus:!outline-none;
    @apply focus-within:!outline-none;
}
/* ng select styles for date picker component */
.date-picker__select.ng-select .ng-select-container {
    border: none !important;
    outline: none !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items {
    padding: .5rem !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: white !important;
    padding: 0 !important;
    @apply rounded-md !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-option-label {
    padding: 4px 1rem !important;
    width: 100% !important;
    min-height: 34px !important;
    display: flex;
    align-items: center;
    @apply rounded-md;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-option-label:hover {
    background-color: #F0F1F3;
}

/* Update Styles for angular-calendar for calendar picker component */
.calendar__render .cal-month-view .cal-cell-row {
    display: flex;
}
.calendar__render .cal-month-view .cal-cell-row .cal-cell {
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-transform: uppercase;
    @apply text-sm;
    @apply px-2;
    @apply py-1;
    @apply rounded-md;
    @apply m-0.5;
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;
    @apply hover:bg-[#E5E4FC];
    @apply cursor-pointer;
}

/* Update Styles for angular-calendar for calendar dashboard component */
.st__calendar_dashboard .cal-month-view .cal-cell-row {
    display: flex;
}
.st__calendar_dashboard .cal-month-view .cal-days .cal-cell-row .cal-cell {
    min-width: 107px;
    min-height: 140px;
    display: flex;
    width: 100%;
    border: 1px solid #e1e1e1;
}

.cdk-overlay-container {
    position: fixed;
    /* z-index: 1000; */
    opacity: 1;
}