@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #4eb2d4;
    --hover-color: #3176b1;
}

* {
    margin: 0;
    box-sizing: border-box;
    transition: all .5s ease;
    font-family: 'Poppins';
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::-webkit-scrollbar {
    background: white;
    width: 6px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #ADB3BD;
    @apply rounded-full
}

/* mat expansion panel styles */
div.mat-expansion-panel-body {
    @apply p-0 !important;
}
.mat-content.mat-content-hide-toggle {
    @apply mr-0 !important;
}
.mat-expansion-indicator::after {
    color: #989DA6 !important;
}
.task__ep .mat-expansion-indicator::after {
    border-color: #000 !important;
}
/* mat tabs styles */
.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
    flex-grow: 0 !important;
}
.mdc-tab {
    min-width: fit-content !important;
    padding: 0 !important;
}  
.mdc-tab-indicator {
    color: #E9EBF0 !important; 
}
.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--hover-color) !important;
    border-bottom: 3px solid var(--hover-color) !important;
}
