<!--  project 2 -->
<div class="border-2 border-[#F0F1F3] p-3 mx-4 my-3 relative">
    <div class="flex justify-between items-start">
        <div class="flex flex-1 flex-col">
            <p class="text-[11px] text-[#34313a] ml-2 capitalize">Project 2</p>
            <div class="flex items-center project__ep w-full">
                <mat-expansion-panel class="!shadow-none w-full" expanded="true">
                    <mat-expansion-panel-header class="!p-0">
                        <mat-panel-title class="group">
                            <div class="flex items-center">
                                <div class="flex">
                                    <div class="flex items-center py-0.5 px-2 hover:bg-[#f2f2f2] rounded-sm">
                                        <img class="w-5 h-5 rotate__icon" src="../../../../assets/rightangle.svg" alt="">
                                        <span class="text-base  font-medium text-[#2A2E34] capitalize ml-2">Project 2</span>
                                    </div>
                                    <div>
                                        <button  class="py-0.5 px-2 text-[10px] text-[#7c828d] hover:bg-[#f2f2f2] rounded-md mx-0.5 ml-1 uppercase">
                                            + new task
                                        </button>
                                    </div>
                                </div>
                                <div class="group-[:hover]:flex hidden">
                                    <button  class="py-0.5 px-2 text-[10px] text-[#7c828d] hover:bg-[#f2f2f2] rounded-md mx-0.5 ml-1 uppercase">
                                        add description
                                    </button>
                                    <button  class="py-0.5 px-2 text-[10px] text-[#7c828d] hover:bg-[#f2f2f2] rounded-md mx-0.5 ml-1 uppercase">
                                        add comment
                                    </button>
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="w-full p-2">
                        <mat-expansion-panel class="!shadow-none w-full" expanded="true">
                            <mat-expansion-panel-header class="!p-0">
                                <mat-panel-title>
                                    <div class="group flex items-center py-0.5 px-2 rounded-sm">
                                        <img class="w-4 h-4 rotate__icon" src="../../../../assets/rightangle.svg" alt="">
                                        <span class="text-xs p-0.5 px-2 font-medium bg-[#04A9F4] text-white uppercase ml-2">in progress</span>
                                        <img class="group-[:hover]:flex hidden w-4 h-4 ml-1" src="../../../../assets/voptions.svg" alt="">
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="w-full">
                                <table class="w-full">
                                    <thead>
                                        <tr class="uppercase text-[10px] font-light text-center ">
                                            <th>In Progress</th>
                                            <th class="w-[50%]">
                                                <span class="hover:bg-[#F0F1F3] px-3 py-1.5">{{2}} tasks</span>
                                            </th>
                                            <th>assignee</th>
                                            <th>due date</th>
                                            <th>priority</th>
                                            <th>
                                                <button class="hover:bg-[#F0F1F3] p-1">
                                                    <img class="w-4 h-4" src="../../../../assets/setting.svg" alt="">
                                                </button>
                                            </th>    
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="group">
                                            <td>
                                                <button class="w-2 h-2 bg-[#04A9F4] rounded-sm"></button>
                                            </td>
                                            <td>
                                                Task 1
                                            </td>
                                            <td>
                                                <button class="w-6 h-6 bg-orange-400 inline-flex justify-center items-center rounded-full p-1.5 text-white text-[10px]">N</button>
                                            </td>
                                            <td>
                                                <button class="hover:bg-[#F0F1F3] p-1">
                                                    <img class="w-5 h-5 text-[#b9bec7]" src="../../../../assets/duedate.svg" alt="">
                                                </button>
                                            </td>
                                            <td>
                                                <button class="hover:bg-[#F0F1F3] p-1">
                                                    <img class="w-5 h-5 text-[#b9bec7]" src="../../../../assets/priority.svg" alt="">
                                                </button>
                                            </td>
                                            <td>
                                                <button class="hidden group-[:hover]:flex mx-auto">
                                                    <img class="w-5 h-5 text-[#b9bec7]" src="../../../../assets/voptions.svg" alt="">
                                                </button>
                                            </td>
                                        </tr>
                                        <tr class="group">
                                            <td>
                                                <button class="w-2 h-2 bg-[#04A9F4] rounded-sm"></button>
                                            </td>
                                            <td>
                                                Task 2
                                            </td>
                                            <td>
                                                <button class="w-6 h-6 bg-orange-400 inline-flex justify-center items-center rounded-full p-1.5 text-white text-[10px]">N</button>
                                            </td>
                                            <td>
                                                <button class="hover:bg-[#F0F1F3] p-1">
                                                    <img class="w-5 h-5 text-[#b9bec7]" src="../../../../assets/duedate.svg" alt="">
                                                </button>
                                            </td>
                                            <td>
                                                <button class="hover:bg-[#F0F1F3] p-1">
                                                    <img class="w-5 h-5 text-[#b9bec7]" src="../../../../assets/priority.svg" alt="">
                                                </button>
                                            </td>
                                            <td>
                                                <button class="hidden group-[:hover]:flex mx-auto">
                                                    <img class="w-5 h-5 text-[#b9bec7]" src="../../../../assets/voptions.svg" alt="">
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-expansion-panel>
                    </div>
                </mat-expansion-panel>
            </div>
        </div>
        <button class="absolute top-3 right-3 p-0.5 px-2 text-xs text-[#7c828d] hover:bg-[#f2f2f2] rounded-md mx-0.5 ml-1 uppercase inline-flex items-center">
            <img src="../../../../assets/show.svg" class="w-3 h-3 mr-1" alt="">
            show closed
        </button>
    </div>
</div>