<div class="fixed top-0 left-0 right-0 z-50 bg-[#2A2D34] w-full h-[40px] flex items-center justify-between">
    <div>
        <button class="flex items-center text-gray-300 ml-10">
            <svg class="text-primary w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 19.5C16.1421 19.5 19.5 16.1421 19.5 12C19.5 7.85786 16.1421 4.5 12 4.5C7.85786 4.5 4.5 7.85786 4.5 12C4.5 16.1421 7.85786 19.5 12 19.5ZM12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="currentColor"></path> <circle cx="12" cy="12" r="5.25" fill="currentColor"></circle> </g></svg>
            <span class="text-sm ml-3">{{1}} task selected</span>
        </button>
    </div>
    <div class="flex items-center h-full">
        <a *ngFor="let toolbarLink of toolbarLinks" href="" [matTooltip]="toolbarLink.tooltip" matTooltipClass="custom__tooltip" class="h-full flex items-center mr-0.5 rounded-md hover:bg-[#2B343B] px-2">
            <img class="w-5 h-5" [src]="toolbarLink.icon" alt="">
        </a>
    </div>
    <div></div>
</div>